body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.0)), url('catallaxy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    --webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    color: white;

    transform: scale(2);
    transform-origin: top left;
    width: 50%;
    height: 50%;
}

.btn {
    font-family: monospace;
}